.header {
    border-bottom: 3px solid #3E3E3E;
    padding-bottom: 10px;
    margin-left: 5%;
    margin-right: 5%;
}

.logo-space {
    z-index: 1;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    z-index: 1;
    position: relative;
    background-color: #D9D9D9;
    border-radius: 50%;
    width: 550px;
    height: 550px;
    margin-top: 1.5%;
    margin-bottom: 1%;
}

.logotitle {
    z-index: 1;
    position: relative;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.textlogo {
    z-index: 1;
    text-align: center;
    display: flex;
    justify-content: center;
}

.logotitle h1 {
    z-index: 1;
    position: relative;
    font-family: 'GOST type B', sans-serif;
    font-style: normal;
    font-size: 90px;
    margin-top: 25%;
    color: #363636;
    margin-bottom: 10px;
}

.textlogo a {
    z-index: 1;
    font-family: 'GOST type B', sans-serif;
    font-style: normal;
    font-size: 22px;
    color: #363636;
}

.header .button-about-project button {
    z-index: 1;
    position: relative;
    margin-left: 90%;
    margin-top: 5px;
    font-family: 'GOST Type BU';
    font-style: normal;
    color: #7A7A7A;
    background-color: transparent;
    border-radius: 30px;
    border-color: white;
    width: 80px;
    font-family: 'GOST type A', sans-serif;
}

.linkuser .inputlink input{
    z-index: 1;
    position: relative;
    color: gray;
    font-size: 18px;
    text-align: center;
    width: 400px;
    height: 40px;
    border-radius: 15px;
}


.linkuser .buttonlogo input{
    z-index: 1;
    position: relative;
    transform: rotate(180deg);
    height: 70px;
    width: 70px;
}

.linkuser .inputlink{
    z-index: 1;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1%;
}

.linkuser .buttonlogo{
    z-index: 1;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.about-project{
    z-index: 3;
    height:300px;
    width: 90%;
    position: absolute;
    background-color: rgba(132, 132, 132, 0.5);
     display: none;
    flex-direction: column;
    flex-wrap: nowrap; 
    padding:7px;
    font-family: 'GOST type B', sans-serif;
    font-style: normal;
    font-size: 22px;
    color: white;
}

.main{
    z-index: 1;
    position: relative;
}

.about-text, .about-text-header{
    z-index: 2;
    position: relative;
    width: 50%;
    margin-right: 5%;
    padding-right: 5%;
}

.about-text{
    z-index: 2;
    position: relative;
    border-right:2px solid #D9D9D9;
}

.about-header{
    z-index: 2;
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-bottom:15px;
    padding-bottom: 5px;
    border-bottom: 2px solid #D9D9D9;
}

.about-main{
    z-index: 2;
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 80%;
}

.welcome{
    z-index: 1;
    position: relative;
    padding-left:5%;
    padding-right: 5%;
}

.load{
    position:absolute;
    z-index: 1;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
}